body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

p {
  font-size: 20px;
}

/* UTILITIES */
.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 25px;
}

.color-blue {
  color: #2c3e50;
}

footer {
  background-color: #2c3e50;
}

#main-head {
  background-color: #1abc9c;
}

#about {
  background-color: #1abc9c;
}

.copyright {
  background-color: #1a252f;
}

#main-head,
#portfolio,
#about,
#contact {
  padding: 80px 0 100px;
}

/* debug box */
.box {
  background: rgba(255,0,0,0.6);
  border: 1px solid #1abc9c;
  height: 50px;
}

/* NAVBAR */
.navbar {
  background: #2c3e50;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

#main-nav a {
  padding-top: 0;
  padding-bottom: 0;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
#main-nav .nav a:hover {
  color: #1abc9c;
}
#main-nav .navbar-brand {
  font-size: 20px;
}

.navbar-header {
  position: relative;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
  background-color: #1abc9c;
}

#main-nav .navbar-toggle .icon-bar {
  background-color: #fff;
  border-color: #fff;
}

/* MAIN HEADER */
#main-head img {
  width: 240px;
}

/* PORTFOLIO */
#portfolio [class*="col-xs-"] {
  margin-bottom: 50px;
}
