body {
  padding-top: 90px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}



h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
}

/* UTILITIES */
.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 25px;
}

.color-blue {
  color: #2c3e50;
}

footer {
  background-color: #2c3e50;
}

#main-head {
  background-color: #1abc9c;
}

#about {
  background-color: #1abc9c;
}

.copyright {
  background-color: #1a252f;
}

#main-head,
#portfolio,
#about,
#contact,
footer {
  padding: 80px 0 100px;
}

.btn-default {
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 8px;
  background-color: #1abc9c;
  color: #fff;
}

.star {
  display: inline-block;
  font-size: 30px;
  margin: 0 15px;
}

.star::before {
  display: inline-block;
  content: '';
  background-color: #fff;
  width: 120px;
  height: 3px;
  margin-right: 15px;
  vertical-align: middle;
}
.star::after {
  display: inline-block;
  content: '';
  background-color: #fff;
  width: 120px;
  height: 3px;
  margin-left: 15px;
  vertical-align: middle;
}

.star-blue::before {
  background-color: #2c3e50;
}

.star-blue::after {
  background-color: #2c3e50;
}

/* NAVBAR */
#main-nav {
  background: #2c3e50;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  height: 90px;
}

#main-nav a {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

#main-nav .nav a:hover {
  color: #1abc9c;
}

#main-nav .navbar-brand {
  font-size: 20px;
}

.navbar-header {
  position: relative;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
  background-color: #1abc9c;
  border: transparent;
  transition: .2s;
}

#main-nav .navbar-toggle:hover {
  color: #fff;
  background-color: #159a80;
  border-color: #148f77;
}

#main-nav .navbar-toggle:focus {
  background-color: #159a80;
}

#main-nav .navbar-toggle .icon-bar {
  background-color: #fff;
  border-color: #fff;
}

/* MAIN HEADER */
#main-head img {
  width: 240px;
}

/* PORTFOLIO */
#portfolio [class*="col-xs-"] {
  margin-bottom: 50px;
}

#portfolio [class*="col-xs-"] img {
  transition: .3s;
}

#portfolio .row > div:not(:first-child) a {
  display: block;
  position: relative;
  line-height: 100%;
}

#portfolio .row > div:not(:first-child) a .overlay {
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  border-radius: 8px;
}

#portfolio .row > div:not(:first-child) a i {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  opacity: 0;
  transition: .3s;
}

#portfolio .row > div:not(:first-child) a:hover i {
  opacity: 1;
}

#portfolio .row > div:not(:first-child) a:hover img {
  opacity: .1;
}

/* ABOUT */

#about .btn-default i {
  font-size: 24px;
  margin-right: 10px;
}

#about .btn-default {
  transition: .3s;
}

#about .btn-default:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#about .btn-default:focus {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5);
}

/* CONTACT */
.form-group .form-control {
  margin-bottom: 50px;
  padding: 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 20px;
  color: #2c3e50;
}

.form-group .form-control[type="text"],
.form-group .form-control[type="email"] {
  height: 60px;
  line-height: 60px;
}

.form-group textarea {
  height: 200px;
  padding: 15px 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #2c3e50;
}

.form-group ::placeholder {
  font-size: 20px;
  color: #6c758d;
}

.btn.btn-send {
  border-color: transparent;
  transition: .3s;
}

.btn.btn-send:hover {
  color: #fff;
  background-color: #159a80;
  border-color: #148f77;
}

.btn.btn-send:focus {
  color: #fff;
  background-color: #159a80;
  border-color: #148f77;
  box-shadow: 0 0 0 3px rgba(60, 198, 171, 0.5);
}

/* footer */
footer [class*="col-"]:not(:last-of-type) {
  margin-bottom: 25px;
}

footer li i {
  display: block;
  width: 50px;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  transition: .2s;
}

footer li:hover i {
  color: #2c3e50;
  border-color: #2c3e50;
  background-color: #fff;
}

footer a:focus i {
  color: #2c3e50;
  border-color: #2c3e50;
  background-color: #fff;
  border: 2px solid #89939e;
}

.start-boot {
  color:#1abc9c;
}
.start-boot:hover {
  color: #117964
}

/* COPYRIGHT */
.copyright {
  height: 60px;
  line-height: 60px;
}

/* DESKTOP MEDIAQUERY */
@media screen and (min-width: 992px) {
  /* navbar */
  #main-nav .navbar-brand {
    font-size: 28px;
    transition: font-size 0.3s;
  }

  /* main header */
  #main-head h1 {
    font-size: 64px;
  }
}
